<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>关于</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/about.css">
</head>

<body class="main">
<%- include header %>
<article class="container">
    <section>
        <div class="circle3">
            <img class="circle4 me" src="/images/common/me.jpg"/></div>
        <div class="circle5">
            <img class="circle6 phone" src="/images/about/phone.jpg"/></div>
        <div class="circle5">
            <img class="circle6" src="/images/about/school.jpg"/>
            <label id="lb1">2011年</label>
            <label id="lb2">2015年</label>
        </div>
        <div class="circle5">
            <img class="circle6" src="/images/about/company.jpg"/>
            <label id="lb31">2015年</label>
            <label id="lb32">2015年</label>
        </div>
        <div class="circle5">
            <img class="circle6" src="/images/about/project.jpg"/>
            <label id="lb4">2015年</label>
            <label id="lb5">2015年</label>
            <label id="lb6">2015年</label>
        </div>
        <div class="row about">
            <div class="col-md-6 left-about">
                <div class="left-content">
                    <div>
                        <h1>基本信息</h1>
                    </div>
                    <div>
                        <h1>联系方式</h1>
                    </div>
                    <div>
                        <h1>教育经历</h1>
                    </div>
                    <div>
                        <h1>实习经历</h1>
                    </div>
                    <div>
                        <h1>项目经历</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-about">
                <div class="right-content">
                    <div class="rightContainer">
                        <p>姓名：熊宇</p>
                        <p>出生日期：1992年12月19日</p>
                        <p>家乡：湖北咸宁</p>
                        <p>爱好：跑步、音乐、电影、编程</p>
                    </div>
                    <div class="rightContainer">
                        <p><img src="/images/about/tel.jpg"/>15968997233</p>
                        <p><img src="/images/about/qq.jpg"/>1538172955</p>
                        <p><img src="/images/about/weixin.jpg"/>elbbub-</p>
                        <p><img src="/images/about/sina.jpg"/>泡沫9水灵灵</p>
                    </div>
                    <div class="rightContainer">
                        <p>湖南大学·计算机科学与技术·智能科学与技术</p>
                        <p>浙江大学·软件工程·大数据开发与应用技术</p>
                    </div>
                    <div class="rightContainer">
                        <p>宁波华数广电网络有限公司·信息管理平台</p>
                        <p>javaweb开发实习生</p>
                        <p>唯品会·互联网金融事业部</p>
                        <p>前端开发实习生</p>
                    </div>
                    <div class="rightContainer">
                        <p>IOT-JavaWeb中间件平台</p>
                        <p>前端开发</p>
                        <p>专利数据可视化</p>
                        <p>前端开发</p>
                        <p>浙江大学软件学院图书馆系统升级改造</p>
                        <p>前端重构</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<%- include footer %>
<script type="text/javascript" src="/javascripts/common/jquery.js"></script>
<script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/about.js"></script>
</body>

</html>
