<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>关于</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/about.css">
</head>

<body class="main">
<%- include header %>
<article class="container">
    <section>
        <div class="circle3">
            <img class="circle4 me" src="/images/common/me.jpg"/></div>
        <div class="circle5">
            <img class="circle6 phone" src="/images/about/1.jpg"/></div>
        <div class="circle5">
            <img class="circle6" src="/images/about/2.jpg"/>
        </div>
        <div class="circle5">
            <img class="circle6" src="/images/about/3.jpg"/>
        </div>
        <div class="circle5">
            <img class="circle6" src="/images/about/4.jpg"/>
        </div>
        <div class="row about">
            <div class="col-md-6 left-about">
                <div class="left-content">
                    <div>
                        <h1>基本信息</h1>
                    </div>
                    <div>
                        <h1>真实身份</h1>
                    </div>
                    <div>
                        <h1>人物评价</h1>
                    </div>
                    <div>
                        <h1>登场作品</h1>
                    </div>
                    <div>
                        <h1>角色生活</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-about">
                <div class="right-content">
                    <div class="rightContainer">
                        <p>姓名：江户川柯南</p>
                        <p>年龄：约7岁（真实年龄17岁）</p>
                        <p>地址：毛利侦探事务所</p>
                        <p>兴趣：推理，足球，看推理剧、推理小说等</p>
                    </div>
                    <div class="rightContainer">
                        <p>就读：帝丹小学1年B班</p>
                        <p>真实身份：高中生侦探工藤新一</p>
                        <p>体重：18kg</p>
                        <p>名言：真相只有一个！</p>
                    </div>
                    <div class="rightContainer">
                        <p>“日本警察的救世主”</p>
                        <p>“平成年代的福尔摩斯”</p>
                    </div>
                    <div class="rightContainer">
                        <p>《名侦探柯南》</p>
                        <p>《魔术快斗》（动画中客串）</p>
                    </div>
                    <div class="rightContainer">
                        <p>标准服装为蓝西装、白衬衫、灰短裤及红领结，多见于早期，后期服装逐多样化。偶尔也会戴上鸭舌帽，且偏好反戴，但相当少见。</p>
                        <p>喜欢的食物：柠檬派[13]  、小笼包[14]  、冰咖啡</p>
                        <p>讨厌的食物：葡萄干（见于漫画特别篇，由青山助手按照青山的情况设定）</p>
                        <p>憧憬的城市：英国伦敦</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<%- include footer %>
<script type="text/javascript" src="/javascripts/common/jquery.js"></script>
<script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/about.js"></script>
</body>

</html>
