<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>操作页面</title>
    	<link rel="shortcut icon" href="/images/common/favicon.ico">
    	<link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    	<link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    	<link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    	<link type="text/css" rel="stylesheet" href="/stylesheets/back.css">
	</head>
	<body>
		<div class="container">
			<section class="section">
				<label class='ui-label'>编辑文章页面</label>
				<article>
					<ul>
						<li>
							<input class="ui-input btn btn-info" type='button' value='新增文章' name='addArticle' />
						</li>
						<li>
							<input class="ui-input btn btn-danger" type='button' value='删除文章' name='deleteArticle' />
						</li>
						<li>
							<input class="ui-input btn btn-warning" type='button' value='更新文章' name='updateArticle' />
						</li>
						<li>
							<input class="ui-input btn btn-success" type='button' value='查找文章' name='queryArticle' />
						</li>
                        <div style="clear:both"></div>
					</ul>
				</article>
			</section>
			<hr class="hr">
			<section class="section">
				<label class='ui-label'>编辑作品页面</label>
				<article>
					<ul>
						<li>
							<input class="ui-input btn btn-info" type='button' value='新增作品' name='addWork' />
						</li>
						<li>
							<input class="ui-input btn btn-danger" type='button' value='删除作品' name='deleteWork' />
						</li>
						<li>
							<input class="ui-input btn btn-warning" type='button' value='更新作品' name='updateWork' />
						</li>
						<li>
							<input class="ui-input btn btn-success" type='button' value='查找作品' name='queryWork' />
						</li>
                        <div style="clear:both"></div>
					</ul>
				</article>
			</section>
		</div>
		<script type="text/javascript" src="/javascripts/common/jquery.js"></script>
	    <script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
	    <script type="text/javascript" src="/javascripts/back.js"></script>
	</body>
</html>