<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/footer.css">
</head>

<body>
    <footer id="footer">
        <p>
            <a href="/">首页</a>
            <a href="/article">文章</a>
            <a href="/work">作品</a>
            <a href="/about">关于</a>
        </p>
        <hr>
        <ul>
            <li class="col-md-2" id="stu">
                <h4>网站推荐</h4>
                <ul>
                    <li><a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭-鑫空间-鑫生活</a></li>
                    <li><a href="http://www.cnblogs.com/TomXu/" target="_blank">汤姆大叔的博客</a></li>
                    <li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰的个人网站</a></li>
                    <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
                    <li><a href="https://segmentfault.com/" target="_blank">segmentfault</a></li>
                    <li><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></li>
                    <li><a href="http://blog.jobbole.com/" target="_blank">博客-伯乐在线</a></li>
                </ul>
            </li>
            <li class="col-md-2" id="link">
                <h4>友情链接</h4>
                <ul>
                    <li><a href="http://blog.csdn.net/u010147288" target="_blank">泡沫水灵灵的博客</a></li>
                    <li><a href="http://weibo.com/u/2704130365/home?wvr=5&sudaref=security.weibo.com" target="_blank">泡沫水灵灵的微博</a>
                    </li>
                    <li><a href="http://lysongzi.com/" target="_blank">林友松のcoder</a></li>
                    <li><a href="http://www.codeceo.com/" target="_blank">码农网</a></li>
                    <li><a href="http://www.cnblogs.com/" target="_blank">博客园</a></li>
                    <li><a href="https://www.zhihu.com/" target="_blank">知乎</a></li>
                    <li><a href="http://www.2cto.com/" target="_blank">红黑联盟</a></li>
                    <li><a href="http://gold.xitu.io/#/" target="_blank">稀土掘金</a></li>
                </ul>
            </li>
            <li class="col-md-2" id="study">
                <h4>学习资料</h4>
                <ul>
                    <li><a href="http://qun.jikexueyuan.com/web/topic/274" target="_blank">前端干货分享</a></li>
                    <li><a href="http://w3school.com.cn/" target="_blank">w3school在线教程</a></li>
                    <li><a href="http://www.apjs.net/" target="_blank">AnjularJS中文网</a></li>
                    <li><a href="http://nodejs.cn/" target="_blank">Node.js中文网</a></li>
                    <li><a href="http://efe.baidu.com/" target="_blank">百度EFE</a></li>
                    <li><a href="http://fis.baidu.com/" target="_blank">FIS3前端工程构建工具</a></li>
                </ul>
            </li>
            <li class="col-md-2" id="stud">
                <h4>书屋必备</h4>
                <ul>
                    <li><a href="resume.ejs" target="_blank">JavaScript高级程序设计</a></li>
                    <li><a href="resume.ejs" target="_blank">Head First JavaScript</a></li>
                    <li><a href="resume.ejs" target="_blank">Head First HTML与CSS、XHTML</a></li>
                    <li><a href="resume.ejs" target="_blank">CSS权威指南</a></li>
                    <li><a href="resume.ejs" target="_blank">HTML5秘籍</a></li>
                    <li><a href="resume.ejs" target="_blank">HTTP权威指南</a></li>
                    <li><a href="resume.ejs" target="_blank">剑指offer</a></li>
                </ul>
            </li>
            <li class="col-md-2" id="friendlink">
                <h4>轻松天地</h4>
                <ul>
                    <li><a href="http://bbs.jiyifa.cn/" target="_blank">记忆法论坛</a></li>
                    <li><a href="http://tuhaonet.com/" target="_blank">土豪网</a></li>
                    <li><a href="http://www.itmian4.com/" target="_blank">IT面试</a></li>
                    <li><a href="https://www.douban.com/people/143523117/" target="_blank">豆瓣douban</a></li>
                    <li><a href="http://www.bilibili.com/" target="_blank">哔哩哔哩弹幕视频网</a></li>
                </ul>
            </li>
        </ul>
        <div>
            <p>版权信息：by paomo</p>
            <img name="github" title="泡沫水灵灵的github，欢迎踩一踩、留言！" src="/images/common/icon-github.png"/>
        </div>
    </footer>
    <script type="text/javascript" src="/javascripts/common/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/common/footer.js"></script>
</body>

</html>