<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/header.css">
</head>

<body>
    <article id="header">
        <nav>
            <img class="circle1" id="me" src="/images/common/me.jpg"/>
            <img class="handLove" src="/images/common/loveTwo.gif"/>
            <ul class="navRight">
                <li><a href="/">首页</a></li>
                <li><a href="/article">文章</a></li>
                <li><a href="/work">作品</a></li>
                <li><a href="/about">关于</a></li>
                <li><img id="img" name="github" title="泡沫水灵灵的github，欢迎踩一踩、留言！" src="/images/common/icon-github.png"/></li>
            </ul>
            <div style="clear:both;"></div>
        </nav>
        <div id="hometitle">
            <img class="background" src="/images/common/background/b1.jpg">
        </div>
    </article>
    <script type="text/javascript" src="/javascripts/common/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/common/header.js"></script>
</body>

</html>