<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人网站</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/resume.css">
</head>

<body>
<div>
    <%- include header %>
    <section>
        <div class="container" id="content">
            <ul class="row">
                <li class="col-md-4 col-sm-12">
                    <div class="itemContent">
                        <canvas id="1"></canvas>
                        <p>这里是简介这里是简介</p>
                    </div>
                </li>
                <li class="col-md-4 col-sm-12">
                    <div class="itemContent">
                        <canvas id="2"></canvas>
                        <p>这里是简介这里是简介</p>
                    </div>
                </li>
                <li class="col-md-4 col-sm-12">
                    <div class="itemContent">
                        <canvas id="3"></canvas>
                        <p>这里是简介这里是简介</p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="introduce">
            <div class="image">
                <img class="circle2" src="/images/common/me.jpg"/></div>
            <div class="introContent">
                <h1>Hi,I'm コナン</h1>
                <p>这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍这里是正文介绍</p>
            </div>
        </div>
    </section>
    <%- include footer %>
</div>
<script type="text/javascript" src="/javascripts/common/jquery.js"></script>
<script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/resume.js"></script>
</body>

</html>
