<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>修改博客</title>
    <link rel="shortcut icon" href="/images/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/common/common.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/updateArticle.css">
</head>

<body>
    <div class="container">
    	<label class="ui-label">修改博客</label>
    	<form class="row" method="post" action="/article/addArticle">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">ID：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="id">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">type：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="type">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">date：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="date">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">title：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="title">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">love：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="love">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">scan：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="scan">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">comment：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="comment">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label class="ui-label col-lg-3 col-md-3">brief：</label>
                <div class="col-lg-9 col-md-9">
                    <input class="ui-input form-control" type="text" name="brief">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label class="ui-label">content：</label>
                <textarea class="ui-textarea form-control" type="text" name="content"></textarea>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4" style="margin-top:20px;">
                <button type="submit" class="btn btn-success">提交</button>
                <button type="reset" class="btn btn-warning">重置</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/javascripts/common/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/updateArticle.js"></script>
</body>

</html>
