/***
****
    article.html css
****
***/
#article {
    background-color: #EEEEEE;
    font-family: "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
}

#article section {
    float: left;
    margin: 35px 0 100px 0;
}

#article section article {
    margin-bottom: 10px;
    background: white;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#article section article aside {
    float: left;
    width: 55px;
    margin-left: -60px;
}

#article section article aside ul {
    list-style: none;
    margin-left: -16px;
    width: 55px;
    padding-top: 20px;
}

#article section article aside ul li {
    line-height: 45px;
    text-align: center;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: 0.5;
}

#article section article aside ul li:nth-child(1) {
    background-color: darkmagenta;
    margin-bottom: 5px;
}

#article section article aside ul li:nth-child(2) {
    background-color: darkorchid;
}

#article section article header {
    padding-top: 20px;
    font-size: 16px;
    color: darkmagenta;
    font-weight: bolder;
    text-align: center;
}

#article section article header a {
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    color: darkmagenta;
}

#article section article p {
    margin-bottom: 10px;
    text-indent: 2em;
    font-size: 12px;
}

#article section article p span+span{
    margin-left: -20px;
}

#article section article footer {
    float: right;
}

ul#page {
    padding-left: 130px;
}

ul#page li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: auto;
    text-align: center;
    background-color: white;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
ul#page li:first-child{
    margin-left: -115px;
}

ul#page li:hover {
    background-color: darkorchid;
    text-decoration: none;
}

ul#page li a:hover {
    text-decoration: none;
    color: #fff;
}

ul#page li a span {
    display: block;
    margin: 10px 5px;
}

#aside {
    float: right;
    min-width: 280px;
    height: 1000px;
    margin-top: 35px;
}
#search {
    padding: 30px 10px 34px 10px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#search .su {
    height: 41px;
    width: 175px;
}

#search .go {
    margin-left: -5px;
    height: 45px;
    width: 50px;
    border-left: none;
    background-color: darkgray;
    font-size: 18px;
    color: white;
}

#aside .href {
    max-width: 266px;
    background: white;
    margin-top: 30px;
}

#aside .href li {
    line-height: 50px;
    list-style: none;
    border-top: 1px solid darkgray;
    border-left: 6px solid darkorchid;
}

#aside .href li:hover {
    border-left: 6px solid fuchsia;
}

#aside .href li a {
    text-decoration: none;
    padding-left: 20px;
}

#aside .href li:last-child {
    list-style: none;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

#aside div table {
    margin-top: 10px;
}

/*����*/
Input {
    font-family: verdana;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
    /*background-color: #FFFFFF;*/
    height: 20px;
    color: darkmagenta;
}

.Calendar {
    font-family: verdana;
    text-decoration: none;
    width: 265px;
    font-size: 9pt;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.CalendarTD {
    font-family: verdana;
    font-size: 7pt;
    color: #000000;
    background-color: white;
    height: 30px;
    width: 11%;
    text-align: center;

}

.Title {
    font-family: verdana;
    font-size: 11pt;
    font-weight: normal;
    height: 30px;
    text-align: center;
    color: darkmagenta;
    text-decoration: none;
    background-color: white;

}

.Day {
    font-family: verdana;
    font-size: 7pt;
    color: gray;
    background-color: white;
    height: 30px;
    width: 11%;
    text-align: center;

}

.DaySat {
    font-family: verdana;
    font-size: 7pt;
    color: blue;
    text-decoration: none;
    background-color: white;
    text-align: center;
    height: 30px;
    width: 12%;
}

.DaySun {
    font-family: verdana;
    font-size: 7pt;
    color: blue;
    text-decoration: none;
    background-color: white;
    text-align: center;
    height: 30px;
    width: 12%;
}

.DayNow {
    font-family: verdana;
    font-size: 7pt;
    font-weight: bold;
    color: white;
    background-color: darkmagenta;
    height: 30px;
    text-align: center;
}

.DayTitle {
    font-family: verdana;
    font-size: 9pt;
    color: gray;
    background-color: white;
    height: 20px;
    width: 11%;
    text-align: center;

}

.DaySatTitle {
    font-family: verdana;
    font-size: 9pt;
    color: blue;
    text-decoration: none;
    background-color: white;
    text-align: center;
    height: 30px;
    width: 12%;
}

.DaySunTitle {
    font-family: verdana;
    font-size: 9pt;
    color: blue;
    text-decoration: none;
    background-color: white;
    text-align: center;
    height: 30px;
    width: 12%;
}

.DayButton {
    font-family: Webdings;
    font-size: 9pt;
    font-weight: bold;
    color: darkmagenta;
    cursor: hand;
    text-decoration: none;
}

#tags {
    height: 250px;
    max-width: 264px;
    margin: 10px 0 0 0;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#tags label {
    padding-left: 10px;
    font-size: 18px;
    color: gray;
}

.tags {
    margin-top: 5px;
}

.tags li {
    float: left;
    margin: 2px 5px;
    list-style: none;
    line-height: 30px;
}

.tags li a {
    position: relative;
    text-decoration: none;
    font: diagonal-fractions;
}

#page ul li{
    list-style-type: none;
}

#page ul li:first-child{
    float: left;
}