/*reuse.html css*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
}

.ui-label {
    line-height: 34px;
    text-align: center;
}

.ui-input {
    width: 100%;
    heigth: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ui-textarea {
    width: 100%;
    heigth: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    resize: none;
    overflow-y: auto;
    height: 300px !important;
}

.ui-radio {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 0;
    line-height: 0;
}

.ui-radio-normal {
    width: 15px;
    height: 15px;
    margin-top: 0px !important;
}

.submit {
    margin-top: 10px;
}

.input-group .go {
    cursor: pointer;
}


