#header {
    font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
}

#header nav {
    position: fixed;
    min-height: 70px;
    width: 100%;
    z-index: 100;
    background-image: -webkit-linear-gradient(left top, rgba(59, 44, 70, 0.6), rgba(40, 42, 44, 0.6));
    background-image: -moz-linear-gradient(left top, rgba(59, 44, 70, 0.6), rgba(40, 42, 44, 0.6));
}

#header nav .circle1 {
    width: 60px;
    height: 60px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

#header nav .handLove {
    width: 55px;
    height: 55px;
    margin-top: 5px;
}

#header nav .navRight {
    float: right;
    margin-top: 20px;
    padding: 0 10px;
}

#header nav .navRight>li {
    float: left;
    list-style: none;
    height: 38px;
    line-height: 38px;
}

#header nav .navRight>li>a {
    font-family: 'Avenir Next', Helvetica, Arial, 'Lantinghei SC', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0 12px;
}

#header nav img#me {
    float: left;
    margin: 5px 10px 0 102px;
}

#img {
    height: 34px;
    width: 30px;
    margin-left: 100px;
    cursor: pointer;
}

#hometitle {
    height: 569px;
    width: 100%;
    overflow: hidden;
}

#hometitle img {
    width: 100%;
    height: 560px;
}

.headerHide {
    animation: move_up 2s infinite;
    -moz-animation: move_up 2s infinite;
    /* Firefox */
    -webkit-animation: move_up 2s infinite;
    /* Safari and Chrome */
    -o-animation: move_up 2s infinite;
    /* Opera */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    -animation-iteration-count:1;
}

.headerAppear {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out;
}

@-webkit-keyframes move_up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

@-o-keyframes move_up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

@-moz-keyframes move_up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

@keyframes move_up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}
